.i{
    display: flex;
    height: 100vh;
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-left-wrapper{
    padding: 50px;
    height: 50%;
    /* background-color:red; */
    justify-content: space-between;
    flex-direction: column;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.animated-text{
    position: relative;
    /* color: black; */
    font-size: 50px;
    font-weight: bold;
}
.animated-text span::after {
    content: "";
    position: absolute;
    left: 0;
    right: -2px;
    height: 100%;
    border-left: 2px solid white;
    background-color: #121518;
    animation: 8s textType;
    animation-iteration-count: infinite;
    animation-timing-function:steps(20) ;
    animation-fill-mode: backwards;
}
@keyframes textType{
    0%{
        left: 0;
    }
    50%{
        left: 82%;
    }
    100%{
        left: 0;
    }
}

.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move{
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.i-title-item{
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    color: #00CED1;
    /* background-color:red; */
    display: flex;
    align-items: center;
}
.i-img{
     height:100%;
    width:100%;
    margin-right: 100px;
    position: absolute;
    
}
.i-bg{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    height: 100%;
    width: 100%;
    background-color: darkturquoise;
     top: 0;
    right: 0;
    position: absolute;

}

@media screen and (max-width:480px) {
    .i{
        flex-direction: column;
    }
    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }
    .i-desc{
        display: none;
    }

}